@font-face {
	font-family: 'Chalkduster';
	src: url(https://fonts.cdnfonts.com/s/39881/Chalkduster.woff);
}

.root {
	/* -fx-font-family: "Comic Sans MS" ;	 */
	-fx-font-family: "Chalkduster" ;
	-fx-background-color: rgb(56, 56, 56) ;
}
.hangman-board {
	/* -fx-background-color: saddlebrown ; */
	-fx-background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
	/* -fx-background-color: #cccccc; */
	-fx-padding: 15px ;
	-fx-alignment: center ;
}

.hangman-board > .board-grid {
	-fx-background-color: white ;
	-fx-border-color: transparent ;
}

.hangman-board .label:disabled {
	-fx-opacity: 1.0 ;
}

.hangman-board > .board-grid > .label {
	-fx-font-size: 128pt ;
}

.status {
	-fx-font-size: 24pt ;
	-fx-text-fill: white ;
}

/* Gradient texture */
.grainy {
    -fx-stroke-dasharray: 10, 5;
    -fx-stroke-dash-offset: 0;
    -fx-stroke-width: 2px;
    -fx-stroke: black;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 1), dropshadow(gaussian, white, 1, 0, 0, -1);
}

#textField{
	-fx-background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
	
}

#textArea{
	-fx-background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000");
	/* -fx-min-width: 50pt;
	-fx-min-height: 75pt; */
	-fx-padding: 10px;
	-fx-font-size: 16pt;
}
